*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-exports.json


# dotenv environment variables file
.env

.env.prod
.env.test
.env.dev

# do not ignore migrations
!migrations/*.js

!config/*
